:host {
  display: inline-block;
  width: auto;
}
.sux-icon-button {
  position: relative;
  display: inline-flex;
  // width: 100%;

  align-items: center;
  justify-content: center;


  border-width: var(--icon-button-border-width);
  border-style: solid;
  box-sizing: border-box;
  // background-color: transparent;

  font-family: var(--icon-button-font-family);
  font-weight: var(--icon-button-font-weight);
  &--round {
    border-radius: var(--icon-button-round-border-radius);
  }
  &--default {
    border-radius: var(--icon-button-default-border-radius);
  }
  &:disabled {
    // opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
    color: var(--icon-button-disabled-text-color);
    background-color: var(--icon-button-disabled-background-color);
    border-color: var(--icon-button-disabled-border-color);
  }
  &:focus-visible {
    outline: 4px solid var(--icon-button-cta-focus-border-color);
    outline-offset: 2px;
  }

  &:hover:not([disabled]) {
    cursor: pointer;
  }
  // &--quiet {
  //   border: none !important;
  //   &:hover {
  //     background-color: var(--icon-button-quiet-hover-background-color) !important;
  //   }
  // }
  &--sizeS {
    font-size: var(--icon-button-s-text-size);
    width: var(--icon-button-s-width);
    height: var(--icon-button-s-height);

    // padding-right: var(--icon-button-s-padding-right);
    // padding-bottom: var(--icon-button-s-padding-bottom);
  }
  &--sizeM {
    font-size: var(--icon-button-m-text-size);
    width: var(--icon-button-m-width);
    height: var(--icon-button-m-height);

    // padding-right: var(--icon-button-m-padding-right);
    // padding-bottom: var(--icon-button-m-padding-bottom);
  }
  &--sizeL {
    font-size: var(--icon-button-l-text-size);
    width: var(--icon-button-l-width);
    height: var(--icon-button-l-height);

    // padding-right: var(--icon-button-l-padding-right);
    // padding-bottom: var(--icon-button-l-padding-bottom);
  }
  &--sizeXL {
    font-size: var(--icon-button-xl-text-size);
    width: var(--icon-button-xl-width);
    height: var(--icon-button-xl-height);

    // padding-right: var(--icon-button-xl-padding-right);
    // padding-bottom: var(--icon-button-xl-padding-bottom);
  }
  &--cta {
    background-color: var(--icon-button-cta-default-background-color);
    color: var(--icon-button-cta-default-icon-color);
    border-color: var(--icon-button-cta-default-border-color);
    &:hover {
      background-color: var(--icon-button-cta-hover-background-color);
      color: var(--icon-button-cta-hover-icon-color);
      border-color: var(--icon-button-cta-hover-border-color);
    }
    &:active {
      background-color: var(--icon-button-cta-active-background-color);
      color: var(--icon-button-cta-active-icon-color);
      border-color: var(--icon-button-cta-active-border-color);
    }
  }
  &--primary {
    color: var(--icon-button-primary-default-icon-color);
    background-color: var(--icon-button-default-background-color);
    border-color: var(--icon-button-primary-default-border-color);
    &:hover {
      background-color: var(--icon-button-primary-hover-background-color);
      color: var(--icon-button-primary-hover-icon-color);
      border-color: var(--icon-button-primary-hover-border-color);
      &.quiet {
        background-color: var(--icon-button-primary-hover-quiet-background-color);
        color: var(--icon-button-primary-hover-quiet-icon-color);
        border-color: var(--icon-button-primary-hover-quiet-border-color);
      }
    }
    &:active {
      background-color: var(--icon-button-primary-active-background-color);
      color: var(--icon-button-primary-active-icon-color);
      border-color: var(--icon-button-primary-active-border-color);
      &.quiet {
        background-color: var(--icon-button-primary-active-quiet-background-color);
        color: var(--icon-button-primary-active-quiet-icon-color);
        border-color: var(--icon-button-primary-active-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--icon-button-primary-default-quiet-background-color);
      color: var(--icon-button-primary-default-quiet-icon-color);
      border-color: var(--icon-button-primary-default-quiet-border-color);
    }
  }
  &--secondary {
    color: var(--icon-button-secondary-default-icon-color);
    border-color: var(--icon-button-secondary-default-border-color);
    background-color: var(--icon-button-secondary-default-background-color);
    &:hover {
      background-color: var(--icon-button-secondary-hover-background-color);
      color: var(--icon-button-secondary-hover-icon-color);
      border-color: var(--icon-button-secondary-hover-border-color);
      &.quiet {
        background-color: var(--icon-button-secondary-hover-quiet-background-color);
        color: var(--icon-button-secondary-hover-quiet-icon-color);
        border-color: var(--icon-button-secondary-hover-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--icon-button-secondary-default-quiet-background-color);
      color: var(--icon-button-secondary-default-quiet-icon-color);
      border-color: var(--icon-button-secondary-default-quiet-border-color);
    }
    &:active {
      background-color: var(--icon-button-secondary-active-background-color);
      color: var(--icon-button-secondary-active-icon-color);
      border-color: var(--icon-button-secondary-active-border-color);
      &.quiet {
        background-color: var(--icon-button-secondary-active-quiet-background-color);
        color: var(--icon-button-secondary-active-quiet-icon-color);
        border-color: var(--icon-button-secondary-active-quiet-border-color);
      }
    }
  }
  &--negative {
    color: var(--icon-button-negative-default-icon-color);
    border-color: var(--icon-button-negative-default-border-color);
    background-color: var(--icon-button-negative-default-background-color);
    &:hover {
      background-color: var(--icon-button-negative-hover-background-color);
      color: var(--icon-button-negative-hover-icon-color);
      border-color: var(--icon-button-negative-hover-border-color);
      &.quiet {
        background-color: var(--icon-button-negative-hover-quiet-background-color);
        color: var(--icon-button-negative-hover-quiet-icon-color);
        border-color: var(--icon-button-negative-hover-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--icon-button-negative-default-quiet-background-color);
      color: var(--icon-button-negative-default-quiet-icon-color);
      border-color: var(--icon-button-negative-default-quiet-border-color);
    }
    &:active {
      background-color: var(--icon-button-negative-active-background-color);
      color: var(--icon-button-negative-active-icon-color);
      border-color: var(--icon-button-negative-active-border-color);
      &.quiet {
        background-color: var(--icon-button-negative-active-quiet-background-color);
        color: var(--icon-button-negative-active-quiet-icon-color);
        border-color: var(--icon-button-negative-active-quiet-border-color);
      }
    }
  }
}
