:host {
  display: block;
}
.sux-detail {
  line-height: var(--detail-line-height);

  &--serif {
    font-family: var(--detail-serif-font-family);
  }
  &--sans-serif {
    font-family: var(--detail-sans-serif-font-family);
  }
  &--mono {
    font-family: var(--detail-mono-font-family);
  }
  &--s {
    font-size: var(--detail-s-font-size);
  }
  &--m {
    font-size: var(--detail-m-font-size);
  }
  &--l {
    font-size: var(--detail-l-font-size);
  }
  &--xl {
    font-size: var(--detail-xl-font-size);
  }
  &--light {
    font-weight: var(--detail-light-font-weight);
  }
  &--regular {
    font-weight: var(--detail-regular-font-weight);
  }
}
