:host {
  display: block;
}
.sux-code {
  line-height: var(--code-line-height);
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);

  &--s {
    font-size: var(--code-s-font-size);
  }
  &--m {
    font-size: var(--code-m-font-size);
  }
  &--l {
    font-size: var(--code-l-font-size);
  }
  &--xl {
    font-size: var(--code-xl-font-size);
  }
}
