:host {
  display: inline;
  width: auto;
  --secondary-text-decoration: none;
}
.sux-link {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &--disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  // XS font Size
  &--sizeXS {
    font-size: var(--body-xs-font-size);
  }
  // Small Font Size
  &--sizeS {
    font-size: var(--body-s-font-size);
  }
  // Medium Font Size
  &--sizeM {
    font-size: var(--body-m-font-size);
  }
  // Large Font Size
  &--sizeL {
    font-size: var(--body-l-font-size);
  }
  // Xtra Large Font Size
  &--sizeXL {
    font-size: var(--body-xl-font-size);
  }
  // Double Xtra Large Font-size
  &--sizeXXL {
    font-size: var(--body-xxl-font-size);
  }
  // Tripple Xtra Large Font Size
  &--sizeXXXL {
    font-size: var(--body-xxxl-font-size);
  }

  &--primary {
    color: var(--link-primary-default-font-color);
    &:hover {
      color: var(--link-primary-hover-font-color);
    }
    &:active {
      color: var(--link-primary-default-font-color);
    }
    &:visited {
      color: var(--link-primary-visited-font-color);
    }
  }

  &--secondary {
    color: var(--link-secondary-default-font-color);
    text-decoration: var(--secondary-text-decoration);
    &:hover {
      color: var(--link-secondary-hover-font-color);
    }
    &:active {
      color: var(--link-secondary-default-font-color);
    }
    &:visited {
      color: var(--link-secondary-visited-font-color);
    }
  }

  &--over-background {
    color: var(--link-on-background-default-font-color);
    &:hover {
      color: var(--link-on-background-hover-font-color);
    }
    &:active {
      color: var(--link-on-background-default-font-color);
    }
    &:visited {
      color: var(--link-on-background-visited-font-color);
    }
  }
}
