:host {
  display: inline-block;
  width: auto;
}
.sux-button {
  position: relative;
  display: inline-flex;
  width: 100%;

  align-items: center;
  justify-content: center;

  border-radius: var(--button-border-radius);
  border-width: var(--button-border-width);
  border-style: solid;
  // background-color: transparent;

  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);

  &:disabled {
    // opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
    color: var(--button-disabled-text-color);
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
  }
  &:focus-visible {
    outline: 4px solid var(--button-cta-focus-border-color);
    outline-offset: 2px;
  }

  &:hover:not([disabled]) {
    cursor: pointer;
  }
  // &--quiet {
  //   border: none !important;
  //   &:hover {
  //     background-color: var(--button-quiet-hover-background-color) !important;
  //   }
  // }
  &--sizeS {
    .iconStart {
      margin-right: calc(var(--button-s-padding-left)/2);
      display: inline-flex;
    align-content: center;
    }
    .iconEnd {
      margin-left: calc(var(--button-s-padding-right)/2);
      display: inline-flex;
    align-content: center;
    }
    font-size: var(--button-s-text-size);
    padding-left: var(--button-s-padding-left);
    padding-right: var(--button-s-padding-right);
    // padding-top: var(--button-s-padding-top);
    // padding-bottom: var(--button-s-padding-bottom);
    height: var(--button-s-height);
  }
  &--sizeM {
    .iconStart {
      margin-right: calc(var(--button-m-padding-left)/2);
      display: inline-flex;
    align-content: center;
    }
    .iconEnd {
      margin-left: calc(var(--button-m-padding-right)/2);
      display: inline-flex;
    align-content: center;
    }
    font-size: var(--button-m-text-size);
    padding-left: var(--button-m-padding-left);
    padding-right: var(--button-m-padding-right);
    // padding-top: var(--button-m-padding-top);
    // padding-bottom: var(--button-m-padding-bottom);
    height: var(--button-m-height);
  }
  &--sizeL {
    .iconStart {
      margin-right: calc(var(--button-l-padding-left)/2);
      display: inline-flex;
    align-content: center;
    }
    .iconEnd {
      margin-left: calc(var(--button-l-padding-right)/2);
      display: inline-flex;
    align-content: center;
    }
    font-size: var(--button-l-text-size);
    padding-left: var(--button-l-padding-left);
    padding-right: var(--button-l-padding-right);
    // padding-top: var(--button-l-padding-top);
    // padding-bottom: var(--button-l-padding-bottom);
    height: var(--button-l-height);
  }
  &--sizeXL {
    .iconStart {
      margin-right: calc(var(--button-xl-padding-left)/2);
      display: inline-flex;
    align-content: center;
    }
    .iconEnd {
      margin-left: calc(var(--button-xl-padding-right)/2);
      display: inline-flex;
    align-content: center;
    }
    font-size: var(--button-xl-text-size);
    padding-left: var(--button-xl-padding-left);
    padding-right: var(--button-xl-padding-right);
    // padding-top: var(--button-xl-padding-top);
    // padding-bottom: var(--button-xl-padding-bottom);
    height: var(--button-xl-height);
  }
  &--cta {
    background-color: var(--button-cta-default-background-color);
    color: var(--button-cta-default-text-color);
    border-color: var(--button-cta-default-border-color);
    &:hover {
      background-color: var(--button-cta-hover-background-color);
      color: var(--button-cta-hover-text-color);
      border-color: var(--button-cta-hover-border-color);
    }
    &:active {
      background-color: var(--button-cta-active-background-color);
      color: var(--button-cta-active-text-color);
      border-color: var(--button-cta-active-border-color);
    }
  }
  &--primary {
    color: var(--button-primary-default-text-color);
    background-color: var(--button-default-background-color);
    border-color: var(--button-primary-default-border-color);
    &:hover {
      background-color: var(--button-primary-hover-background-color);
      color: var(--button-primary-hover-text-color);
      border-color: var(--button-primary-hover-border-color);
      &.quiet {
        background-color: var(--button-primary-hover-quiet-background-color);
        color: var(--button-primary-hover-quiet-text-color);
        border-color: var(--button-primary-hover-quiet-border-color);
      }
    }
    &:active {
      background-color: var(--button-primary-active-background-color);
      color: var(--button-primary-active-text-color);
      border-color: var(--button-primary-active-border-color);
      &.quiet {
        background-color: var(--button-primary-active-quiet-background-color);
        color: var(--button-primary-active-quiet-text-color);
        border-color: var(--button-primary-active-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--button-primary-default-quiet-background-color);
      color: var(--button-primary-default-quiet-text-color);
      border-color: var(--button-primary-default-quiet-border-color);
    }
  }
  &--secondary {
    color: var(--button-secondary-default-text-color);
    border-color: var(--button-secondary-default-border-color);
    background-color: var(--button-secondary-default-background-color);
    &:hover {
      background-color: var(--button-secondary-hover-background-color);
      color: var(--button-secondary-hover-text-color);
      border-color: var(--button-secondary-hover-border-color);
      &.quiet {
        background-color: var(--button-secondary-hover-quiet-background-color);
        color: var(--button-secondary-hover-quiet-text-color);
        border-color: var(--button-secondary-hover-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--button-secondary-default-quiet-background-color);
      color: var(--button-secondary-default-quiet-text-color);
      border-color: var(--button-secondary-default-quiet-border-color);
    }
    &:active {
      background-color: var(--button-secondary-active-background-color);
      color: var(--button-secondary-active-text-color);
      border-color: var(--button-secondary-active-border-color);
      &.quiet {
        background-color: var(--button-secondary-active-quiet-background-color);
        color: var(--button-secondary-active-quiet-text-color);
        border-color: var(--button-secondary-active-quiet-border-color);
      }
    }
  }
  &--negative {
    color: var(--button-negative-default-text-color);
    border-color: var(--button-negative-default-border-color);
    background-color: var(--button-negative-default-background-color);
    &:hover {
      background-color: var(--button-negative-hover-background-color);
      color: var(--button-negative-hover-text-color);
      border-color: var(--button-negative-hover-border-color);
      &.quiet {
        background-color: var(--button-negative-hover-quiet-background-color);
        color: var(--button-negative-hover-quiet-text-color);
        border-color: var(--button-negative-hover-quiet-border-color);
      }
    }
    &.quiet {
      background-color: var(--button-negative-default-quiet-background-color);
      color: var(--button-negative-default-quiet-text-color);
      border-color: var(--button-negative-default-quiet-border-color);
    }
    &:active {
      background-color: var(--button-negative-active-background-color);
      color: var(--button-negative-active-text-color);
      border-color: var(--button-negative-active-border-color);
      &.quiet {
        background-color: var(--button-negative-active-quiet-background-color);
        color: var(--button-negative-active-quiet-text-color);
        border-color: var(--button-negative-active-quiet-border-color);
      }
    }
  }
}
