:host {
  display: block;
  overflow: hidden;
}

.sux-responsive-media {
  position: relative;

  ::slotted(embed),
  ::slotted(img),
  ::slotted(iframe),
  ::slotted(object) {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  &--cover {
    ::slotted(img) {
      object-fit: cover;
    }
  }
  &--contain {
    ::slotted(img) {
      object-fit: contain;
    }
  }
}
